@font-face {
  font-family: "Ghibli";
  src: url("../assets/Ghibli.otf") format("truetype");
}

@font-face {
  font-family: "GhibliBold";
  src: url("../assets/GhibliBold.otf") format("truetype");
}

body {
  width: 100vw;
  height: 200vh;
  background-image: url("/src/assets/tranquil-summer-sunset-mountain-silhouette-generated-by-ai.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "GhibliBold", "Ghibli";
}
